
.logo_obu_gif{
   
    height: 50px;
   
   
} 
.logout:hover{
    background-color: rgba(232 ,156, 7,0.9) !important;
    /* background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%) !important; */
    color:white;
    /* font-weight: 800; */
}.navbartoggle:hover{
    /* background-color: aqua !important; */
    /* background-color: grey; */
    font-size: 20px;
    transition: 500ms;
}